body{
				margin: 0;
				padding: 0;
				background:#292929;

}
.chck
{
				position: absolute;
				top: 50%;
  			left: 50%;
				transform: translate(-50%, -50%);
			 
				
				
}
input[type="checkbox"]
{
				position: relative;
				height: 40px;
			 width: 120px;
				background: linear-gradient(0deg, #333, #000);
				outline: none;
				-webkit-appearance:none;
				box-shadow: 0 0 0 4px #353535, 0 0 0 5px #333, inset 0 0 10px rgba(0,0,0,1), 0 5px 20px rgba(0,0,0,.5), inset 0 0 15px rgba(0,0,0,.2) ;
				border-radius: 20px;
				transition-delay:0.25s;
}


input[type="checkbox"]:before{
				content: "";
				position: absolute;
				background: linear-gradient(0deg, #000, #696973);
				top: 0;
				left: 0;
				height:40px;
				width: 80px;
				border-radius: 34px;
				box-shadow: 0 0 1px #232323;
				transition-duration:.6s;
}

input[type="checkbox"]:checked:before{
				display: block;
				content: "";
				position: absolute;
				float: right;
	   	left: 40px;
				background: linear-gradient(0deg, #000, #696973);
				height:40px;
				width: 80px;
				border: transparent;
				border-radius: 20px;
			
}

input[type="checkbox"]:after{
				position: absolute;
				content:"";
				top: calc(50% - 2px);
				left:65px;
				height: 4px;
				width: 4px;
				border-radius: 50%;
				background: linear-gradient(0deg, #b6b6b6,#000) ;
				bottom:32px;
				right: 125px;
				transition-duration:0.6s;
}

input[type="checkbox"]:checked:after{
				background: #63cbff;
				left:105px;
				box-shadow: 0 0 5px #13b3ff, 0 0 15px #13b3ff ;
} 
input[type="checkbox"]:checked{
				background: #13b3ff;
}
